@{
    ViewData["Title"] = "Dashboard";
}
@model List<MinVoiCe.Models.Client>

<form asp-controller="Home" asp-action="Dashboard">
    Select Project Dashboard: <select asp-items="ViewBag.SelectProjects"></select><input type="submit" value="Change Project" />
</form>

<h1>Clients</h1>
This is a list of clients. Clicking one will send the user to the individual client page, which will have info about the client, address, POC, and a list of projects associated with that client.
<br />
<br />

<table>
    @if (Model.Count != 0)

    {
        <tr>
            <th style="width: 200px;">Client Name</th>
            <th style="width: 200px;">Point of Contact</th>
            <th style="width: 200px;">Phone No.</th>
        </tr>
        @foreach (Client aClient in Model)
        {
            <tr>
                <td><a asp-controller="Client" asp-action="Client" asp-route-id="@aClient.ClientId">@aClient.Name</a></td>
                <td>@aClient.PointOfContact</td>
                <td>@aClient.Phone</td>
            </tr>
        }
    }
</table>

<hr />
<h1>Projects</h1>
This is a list of projects. Clicking one will send the user to the individual project page, which will have info about the project and the hourly rate which applies.
<br />
<br />

<table>
    @if (ViewBag.Projects.Count != 0)

    {
        <tr>
            <th style="width: 200px;">Project Name</th>
            <th style="width: 200px;">Rate</th>
        </tr>
        @foreach (Project aProject in ViewBag.Projects)
        {
            <tr>
                <td><a href="/Project/Project?=@aProject.ProjectId">@aProject.Name</a></td>
                <td>@aProject.Rate</td>
            </tr>
        }
    }
</table>

<hr />
<h1>Time Entries</h1>
This is a list of time entries. Time entries listed below have not been rolled into an invoice yet.
<br />
<br />

<table>
    @if (ViewBag.Worktimes.Count != 0)

    {
        <tr>
            <th style="width: 200px;">Date</th>
            <th style="width: 200px;">Hours</th>
            <th style="width: 200px;">Description</th>
            <th style="width: 200px;">Project</th>
        </tr>

        @foreach (Worktime aWorktime in ViewBag.Worktimes)
        {
            <tr>
                <td>@aWorktime.Date</td>
                <td>@aWorktime.Hours</td>
                <td>@aWorktime.Description</td>
                <td>@aWorktime.Project.Name</td>

            </tr>
        }
    }
</table>

<br />
<br />
<br />
