@{
    ViewData["Title"] = "Dashboard";
}
@model MinVoiCe.ViewModels.DashboardViewModel


<div class="panelWrapper">

    <div class="projectPanel withShadow bluegreenBG">
        <center><h2>Project Quick Panel</h2></center>

        @if (Model.Projects.Count != 0)
        {
            <ul>
                @foreach (Project aProject in Model.Projects)
                {
                    <li><a href="/Project/Project?=@aProject.ProjectId">@aProject.Name</a></li>
                }
            </ul>
        }

    </div>

    <div class="mainPanel">
        <div class="selectProject withShadow lightBG">
            <h1>@Model.DashboardTitle</h1>
            <form asp-controller="Home" asp-action="Dashboard" method="post">
                <table>
                    <tr>
                        <td class="selectLabel">Change Dashboard:</td>
                        <td><select asp-for="ProjectId" asp-items="Model.SelectProjects"></select></td>
                        <td class="ProjButtonCell"><input class="bluegreenBG ProjButton" type="submit" value="Go" /></td>
                    </tr>
                </table>
            </form>

        </div>

        @if (Model.ProjectId != 0)
        {
        <div class="worktime addtime">
            <h3>Add Time:</h3>
            <div asp-validation-summary="All"></div>
            <form asp-controller="Home" asp-action="DashWorktime" method="Post">

                <div asp-validation-summary="All"></div>
                <table>
                    <tr>
                        <td class="labelCell">Hours</td>
                        <td class="hourInput"><input asp-for="Hours"></td>
                        <td class="labelCell">Date</td>
                        <td><select asp-for="WeekId" asp-items="Model.SelectWeeks"></select></td>
                    </tr>
                    <tr>
                        <td class="labelCell">Description</td>
                        <td colspan="3"><textarea asp-for="Description"></textarea></td>
                    </tr>
                </table>
                <input asp-for="ProjectId" type="hidden"/>
                <button class="addTimeButton bluegreenBG withGlow" type="submit"><p class="symbol">+</p></button>
            </form>
        </div>
        }
        
        <div class="worktime">
            <h3>Time Entries:</h3>
            Currently unappended time entries.
            <br />
            <table>
                @if (Model.Worktimes.Count != 0)

                {
                    <tr>
                        <th class="tableHeader2">Dates</th>
                        <th class="tableHeader1">Hours</th>
                        <th>Description</th>
                        <th class="tableHeader2">Project</th>
                    </tr>

                    @foreach (Worktime aWorktime in Model.Worktimes)
                    {
                        <tr>
                            <td>@aWorktime.WeekRange</td>
                            <td>@aWorktime.Hours</td>
                            <td>@aWorktime.Description</td>
                            <td>@aWorktime.Project.Name</td>

                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>