@{
    ViewData["Title"] = "Dashboard";
}
@model MinVoiCe.ViewModels.DashboardViewModel


<div class="panelWrapper">

    <div class="projectPanel">
        <div style="font-size: 20px; text-align: center; width: 100%; text-decoration:underline; margin-bottom: 10px;">Project Quick Panel</div>

        @if (Model.Projects.Count != 0)
        {
            <ul>
                @foreach (Project aProject in Model.Projects)
                {
                    <li><a href="/Project/Project?=@aProject.ProjectId">@aProject.Name</a></li>
                }
            </ul>
        }

    </div>

    <div class="mainPanel">
        <div class="selectProject">
            <h2>@Model.DashboardTitle</h2>
            <form asp-controller="Home" asp-action="Dashboard" method="post">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 180px;">Change Project Dashboard:</td>
                        <td> <select asp-for="ProjectId" asp-items="Model.SelectProjects" style="width: 100%;"></select> </td>
                        <td style="width: 40px;"><input style="width: 100%;" type="submit" value="Go" /></td>
                    </tr>
                </table>
            </form>

        </div>

        @if (Model.ProjectId != 0)
        {
        <div class="worktime">
            <h3>Add Time:</h3>
            <form asp-controller="Home" asp-action="Worktime" method="Post">

                <div asp-validation-summary="All"></div>
                <table style="border-bottom: 1px solid green; width: 100%;">
                    <tr>
                        <td>Hours</td>
                        <td><input asp-for="Hours" /></td>
                        <td>Date</td>
                        <td><input style="width: 100%;" asp-for="Date" /></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;">Description</td>
                        <td colspan="3"><textarea asp-for="Description" style="width: 100%; height: 40px;"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input asp-for="ProjectId" type="hidden" />
                            <input class="okay" type="submit" value="+" />
                        </td>
                    </tr>
                </table>

            </form>
        </div>
        }
        
        <div class="worktime">
            <h3>Time Entries:</h3>
            Currently unappended time entries.
            <br />

            <table>
                @if (Model.Worktimes.Count != 0)

                {
                    <tr>
                        <th style="width: 200px;">Date</th>
                        <th style="width: 200px;">Hours</th>
                        <th style="width: 200px;">Description</th>
                        <th style="width: 200px;">Project</th>
                    </tr>

                    @foreach (Worktime aWorktime in Model.Worktimes)
                    {
                        <tr>
                            <td>@aWorktime.Date</td>
                            <td>@aWorktime.Hours</td>
                            <td>@aWorktime.Description</td>
                            <td>@aWorktime.Project.Name</td>

                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>