@{
    ViewData["Title"] = "Dashboard";
}
@model MinVoiCe.ViewModels.DashboardViewModel


    <div class="mainPanel">
        <div class="projectPanel withShadow lightBG">
            <h1>Dashboard: @Model.DashboardTitle//</h1>
            <form asp-controller="Home" asp-action="Dashboard" method="post">
                <table>
                    <tr>
                        <td class="selectLabel">Change Dashboard:</td>
                        <td><select asp-for="ProjectID" asp-items="Model.SelectProjects"></select></td>
                        <td class="ProjButtonCell"><input class="bluegreenBG projButton" type="submit" value="GO" /></td>
                    </tr>
                </table>
            </form>

        </div>

        <div class="projectPanel withShadow lightBG">
            <img src="~/images/project-background.jpg">
            @*<h1>Info Panel//</h1>*@

            @if (Model.ProjectID != 0)
            {
                <span><strong>Project:</strong> @ViewBag.SingleProject.Name (@ViewBag.SingleProject.Client.Name) </span><br />
                <span><strong>Rate:</strong> $@ViewBag.SingleProject.Rate/HR</span><br />
                <span><strong>Description:</strong> @ViewBag.SingleProject.Description</span><br />
                <span><strong>Hours allocated/Hours used:</strong> (0/100)</span>
            }
            else
            {
                <span>Select a project from the dropdown, or add a new project, to jump to that project's dashboard. Time entries can be made on the Project Dashboard or by clicking "Add Time" above.</span>
            }

        </div>

        @if (Model.ProjectID != 0)
        {
        <div class="worktime addtime">

            <h3>Add Time//</h3>
            <div asp-validation-summary="All"></div>
            <form asp-controller="Time" asp-action="DashWorktime" method="Post">

                <div asp-validation-summary="All"></div>
                <table>
                    <tr>
                        <td class="labelCell">Hours</td>
                        <td class="hourInput"><input asp-for="Hours"></td>
                        <td class="labelCell">Date</td>
                        <td><select asp-for="WeekId" asp-items="Model.SelectWeeks"></select></td>
                    </tr>
                    <tr>
                        <td class="labelCell">Description</td>
                        <td colspan="3"><textarea asp-for="Description"></textarea></td>
                    </tr>
                </table>
                <input asp-for="ProjectID" type="hidden" />
                <input type="image" src="~/images/add-button.png" style="width: 60px;" class="addButton withGlow" />
            </form>
        </div>
        }

        <div class="worktime">
            @if (Model.Worktimes.Count != 0)
            {
                <img src="~/images/add-time-clock.png">
                <h3>Time Entries//</h3>
                <p>Currently unappended time entries.</p>
                <br />
                <table>
                    <tr>
                        <th class="tableHeader2">Dates</th>
                        <th class="tableHeader1">Hours</th>
                        <th>Description</th>
                        <th class="tableHeader2">Project</th>
                    </tr>

                    @foreach (Worktime aWorktime in Model.Worktimes)
                    {
                        <tr>
                            <td>@aWorktime.WeekRange</td>
                            <td>@aWorktime.Hours</td>
                            <td>@aWorktime.Description</td>
                            <td>@aWorktime.Project.Name</td>

                        </tr>
                    }

                </table>
            }
            else
            {
                <br />
                <br />
                <p>No time entries -- are you up to date?</p>
            }

        </div>
    </div>

<br />
<br />