<div class="addTimeWrapper">
    <div class="singleBox">
        <img src="~/images/single-client-ref.jpg" />

        <strong>Name:</strong> @ViewBag.SingleClient.Name<br />
        <strong>POC:</strong> @ViewBag.SingleClient.PointOfContact<br />
        <strong>Phone:</strong> @ViewBag.SingleClient.Phone<br />
        <strong>EMail:</strong> @ViewBag.SingleClient.EMail<br />
        <strong>Address:</strong> @ViewBag.SingleClient.AddressStreet<br />
        <span style="padding-left: 60px;">@ViewBag.SingleClient.AddressCityZip</span><br />
        <br />
        <strong>Notes:</strong> TBD<br /><br />
        <h6><a href="/">(Home)</a></h6>
    </div>
</div>