<h1>SINGLE CLIENT</h1>
<h6><a href="/">(Home)</a></h6>

NAME: @ViewBag.SingleClient.Name<br />
POC: @ViewBag.SingleClient.PointOfContact<br />
PHONE: @ViewBag.SingleClient.Phone<br />
EMAIL: @ViewBag.SingleClient.EMail<br />
ADDRESS LINE 1: @ViewBag.SingleClient.AddressStreet<br />
ADDRESS LINE 2: @ViewBag.SingleClient.AddressCityZip<br />

