@model MinVoiCe.ViewModels.InvoiceViewModel


<h1>Create an Invoice</h1>

<form asp-controller="Invoice" asp-action="Generator" method="post">

    <div asp-validation-summary="All"></div>

    Create an invoice using worktimes for the selected project:<br />
    <select asp-for="ProjectID" asp-items="Model.SelectProjects"></select>

    <input type="submit" value="Create Invoice" />
    


</form>

<hr />
<h3>Previous Invoices</h3>
<table style=" width: 80%; margin: 0 auto;">
    @if (Model.PreviousInvoices.Count != 0)

    {
        <tr>
            <th>Invoice No.</th>
            <th>Client</th>
            <th>Project</th>
            <th>Date Created</th>
        </tr>

        @foreach (Invoice anInvoice in Model.PreviousInvoices)
        {
            <tr>
                <td><a asp-controller="Invoice" asp-action="ViewInvoice" asp-route-id="@anInvoice.InvoiceID">@anInvoice.InvoiceID</a></td>
                <td>@anInvoice.Project.Client.Name</td>
                <td>@anInvoice.Project.Name</td>
                <td>@anInvoice.CurrentDate</td>
            </tr>
        }
    }
</table>